

.item{
    border: 1px solid rgb(91, 28, 230);
    border-radius: 0.3rem;
    box-shadow: rgb(255 0 100 / 20%) 30px 30px 60px,
}


.p-5{
    padding: 0rem!important;
}

.list{
    color: rgba(255, 255, 255, 0.685);
     font-size: small;
}

.row2 .list{
    color: rgba(255, 255, 255, 0.685);
    font-size: smaller;
}

.row3{
    color: rgba(255, 255, 255, 0.685);
    font-size: smaller;
}

.card-img-overlay::before{

}


.item1{
     height: 25em;
     border: 1px solid rgb(91, 28, 230);
    border-radius: 0.3rem;

}

.item1:hover{

}

.card-list:hover{
    border: 1px solid rgb(91, 28, 230);
    border-radius: 0.3rem;
    box-shadow: 0px 4px 5px rgba(0,0,0,0.14),0px 1px 10px rgba(0,0,0,0.12),0px 2px 4px rgba(0,0,0,0.2);
    border-top-color: 0px 12px 17px rgba(0,0,0,0.14),0px 5px 22px rgba(0,0,0,0.12),0px 7px 8px rgba(0,0,0,0.2);
    
}

.card:hover{
    box-shadow: 0px 4px 5px rgba(0,0,0,0.14),0px 1px 10px rgba(0,0,0,0.12),0px 2px 4px rgba(0,0,0,0.2);
    border-top-color: 0px 12px 17px rgba(0,0,0,0.14),0px 5px 22px rgba(0,0,0,0.12),0px 7px 8px rgba(0,0,0,0.2);
}

.video:hover{
    box-shadow: 0px 4px 5px rgba(0,0,0,0.14),0px 1px 10px rgba(0,0,0,0.12),0px 2px 4px rgba(0,0,0,0.2);
    border-top-color: 0px 12px 17px rgba(0,0,0,0.14),0px 5px 22px rgba(0,0,0,0.12),0px 7px 8px rgba(0,0,0,0.2);
}

.signup-btn:hover{
    background-color: rgb(196, 189, 189);
}

